<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title th:text="${title}"></title>

</head>

<body class="bg-secondary">
	<p th:text="'Hello, ' + ${title} + '.'"/>
	<form method="post" action="filter">
		<input type="text" name="type"/>
		<button type="submit">Find By Type</button>		
	</form>
	<table>
		<thead>
	        <tr>
	            <th> Title </th>
	            <th> Price </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="tariff : ${tariffs}">
	            <td><span th:text="${tariff.title}"> Title </span></td>
	            <td><span th:text="${tariff.price}"> Price </span></td>
	        </tr>
	    </tbody>
    </table>
</body>
</html>